<footer class="footer">

    <div class="container">
        <div>
            <p  class="text-center">Copyright &copy; 2013 Marcy Schwartz, ALL RIGHTS RESERVED</p>
            <p  class="text-center">Website Design And Development By <a href="mailto:jeffschwartz.webdeveloper@gmail.com">Jeffrey Schwartz</a></p>
            <!-- hit counter service provide by http://www.reliablecounter.com/ -->
            <p><a href="http://www.reliablecounter.com" target="_blank"><img src="http://www.reliablecounter.com/count.php?page=flyingbirdsgallery.github.io/&digit=style/plain/30/&reloads=0" alt="www.reliablecounter.com" title="www.reliablecounter.com" border="0"></a><br /><a href="http://www.arztpraxismarketing.de" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;">www.arztpraxismarketing.de</a></p>

        </div>
    </div>

</footer>

<!-- js files go here -->
<script src="{{ "/js/lib/jquery/jquery-2.1.4.min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="{{ "/js/lib/bootstrap/bootstrap.min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="{{ "/js/lib/bootstrap/ie10-viewport-bug-workaround.js" | prepend: site.baseurl }}" charset="utf-8"></script>
{% if page.title == 'Item' %}
<script src="{{ "/js/lib/colorbox/jquery.colorbox-min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="{{ "/js/itempage.js" | prepend: site.baseurl }}" charset="utf-8"></script>
{% endif %}
